body.light {
  background-color: white;
  color: black;
}

body.dark {
  background-color: #161616;
  color: white;
}

.dark-theme {
  background-color: #161616;
  color: white;
}

/* App.css */

html.light {
  background-color: white;
  color: black;
}

html.dark {
  background-color: #161616;
  color: white;
}





/* Asegúrate de que otros estilos globales no interfieran con estos */